*.ilk
*.pdb
*.log
*.idb
*.exp
*.iobj
*.ipdb
*.tlog
*.tlog/
*.lastbuildstate

*.sdf
*.user
*.suo
*.ipch
*.opendb
/KatEngine/Models/cuby.ply
/KatEngine/KatEngine.exe
/KatEngine/glfw3.dll
/KatEngine/assimp-vc140-mt.dll
